In [1]:
#importing libraries
import pandas as pd
import mysql.connector
import numpy as np

In [2]:
# csv to dataframe
a=pd.read_csv(r"C:\Users\Vanathi\Documents\redbus scraped details\df_buses_1.csv")
b=pd.read_csv(r"C:\Users\Vanathi\Documents\redbus scraped details\df_buses_2.csv")
c=pd.read_csv(r"C:\Users\Vanathi\Documents\redbus scraped details\df_buses_3.csv")
d=pd.read_csv(r"C:\Users\Vanathi\Documents\redbus scraped details\df_buses_4.csv")
e=pd.read_csv(r"C:\Users\Vanathi\Documents\redbus scraped details\df_buses_5.csv")
f=pd.read_csv(r"C:\Users\Vanathi\Documents\redbus scraped details\df_buses_6.csv")
g=pd.read_csv(r"C:\Users\Vanathi\Documents\redbus scraped details\df_buses_7.csv")
h=pd.read_csv(r"C:\Users\Vanathi\Documents\redbus scraped details\df_buses_8.csv")
i=pd.read_csv(r"C:\Users\Vanathi\Documents\redbus scraped details\df_buses_9.csv")
j=pd.read_csv(r"C:\Users\Vanathi\Documents\redbus scraped details\df_buses_10.csv")

final_df=pd.concat([a,b,c,d,e,f,g,h,i,j],ignore_index=True)
final_df

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,APSRTC - 3984,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",00:30,04:35,28h 05m,INR 344,6 Seats available,3.4\n39,https://www.redbus.in/bus-tickets/rajahmundry-...,Rajahmundry to Visakhapatnam
1,APSRTC - 3091,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",00:30,05:45,29h 15m,INR 342,26 Seats available,3.5\n30,https://www.redbus.in/bus-tickets/rajahmundry-...,Rajahmundry to Visakhapatnam
2,APSRTC - 3637,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",00:45,04:30,27h 45m,INR 344,29 Seats available,3.9\n93,https://www.redbus.in/bus-tickets/rajahmundry-...,Rajahmundry to Visakhapatnam
3,APSRTC - 4280,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",00:45,04:40,27h 55m,INR 315,29 Seats available,3.8\n67,https://www.redbus.in/bus-tickets/rajahmundry-...,Rajahmundry to Visakhapatnam
4,APSRTC - 3257,"ULTRA DELUXE (NON-AC, 2+2 PUSH BACK)",01:45,05:25,27h 40m,INR 328,35 Seats available,4.6\n47,https://www.redbus.in/bus-tickets/rajahmundry-...,Rajahmundry to Visakhapatnam
...,...,...,...,...,...,...,...,...,...,...
7208,Bihar state road transport corporation (BSRTC)...,Non AC Seater (2+2),15:00,18:00,03h 00m,INR 116,32 Seats available,NaN,https://www.redbus.in/bus-tickets/patna-to-chapra,Patna (Bihar) to Chhapra (Bihar)
7209,Bihar state road transport corporation (BSRTC)...,Non AC Seater (2+2),15:30,18:30,03h 00m,INR 116,32 Seats available,NaN,https://www.redbus.in/bus-tickets/patna-to-chapra,Patna (Bihar) to Chhapra (Bihar)
7210,Bihar state road transport corporation (BSRTC)...,Non AC Seater (2+2),16:00,19:00,03h 00m,INR 116,32 Seats available,NaN,https://www.redbus.in/bus-tickets/patna-to-chapra,Patna (Bihar) to Chhapra (Bihar)
7211,Bihar state road transport corporation (BSRTC)...,Non AC Seater (2+2),17:10,19:08,01h 58m,INR 109,42 Seats available,NaN,https://www.redbus.in/bus-tickets/patna-to-chapra,Patna (Bihar) to Chhapra (Bihar)
7212,Swastik Travels,Non AC Seater (2+2),12:45,16:40,03h 55m,INR 150,43 Seats available,NaN,https://www.redbus.in/bus-tickets/patna-to-chapra,Patna (Bihar) to Chhapra (Bihar)

In [3]:
final_df.info

<bound method DataFrame.info of                                                Bus_name  \
0                                         APSRTC - 3984
1                                         APSRTC - 3091
2                                         APSRTC - 3637
3                                         APSRTC - 4280
4                                         APSRTC - 3257
...                                                 ...
7208  Bihar state road transport corporation (BSRTC)...
7209  Bihar state road transport corporation (BSRTC)...
7210  Bihar state road transport corporation (BSRTC)...
7211  Bihar state road transport corporation (BSRTC)...
7212                                    Swastik Travels

                                    Bus_type Start_time End_time  \
0     SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)      00:30    04:35
1     SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)      00:30    05:45
2     SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)      00:45    04:30
3     SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)      00:45    04:40
4       ULTRA DELUXE (NON-AC, 2+2 PUSH BACK)      01:45    05:25
...                                      ...        ...      ...
7208                     Non AC Seater (2+2)      15:00    18:00
7209                     Non AC Seater (2+2)      15:30    18:30
7210                     Non AC Seater (2+2)      16:00    19:00
7211                     Non AC Seater (2+2)      17:10    19:08
7212                     Non AC Seater (2+2)      12:45    16:40

     Total_duration    Price     Seats_Available  Ratings  \
0           28h 05m  INR 344   6 Seats available  3.4\n39
1           29h 15m  INR 342  26 Seats available  3.5\n30
2           27h 45m  INR 344  29 Seats available  3.9\n93
3           27h 55m  INR 315  29 Seats available  3.8\n67
4           27h 40m  INR 328  35 Seats available  4.6\n47
...             ...      ...                 ...      ...
7208        03h 00m  INR 116  32 Seats available      NaN
7209        03h 00m  INR 116  32 Seats available      NaN
7210        03h 00m  INR 116  32 Seats available      NaN
7211        01h 58m  INR 109  42 Seats available      NaN
7212        03h 55m  INR 150  43 Seats available      NaN

                                             Route_link  \
0     https://www.redbus.in/bus-tickets/rajahmundry-...
1     https://www.redbus.in/bus-tickets/rajahmundry-...
2     https://www.redbus.in/bus-tickets/rajahmundry-...
3     https://www.redbus.in/bus-tickets/rajahmundry-...
4     https://www.redbus.in/bus-tickets/rajahmundry-...
...                                                 ...
7208  https://www.redbus.in/bus-tickets/patna-to-chapra
7209  https://www.redbus.in/bus-tickets/patna-to-chapra
7210  https://www.redbus.in/bus-tickets/patna-to-chapra
7211  https://www.redbus.in/bus-tickets/patna-to-chapra
7212  https://www.redbus.in/bus-tickets/patna-to-chapra

                            Route_name
0         Rajahmundry to Visakhapatnam
1         Rajahmundry to Visakhapatnam
2         Rajahmundry to Visakhapatnam
3         Rajahmundry to Visakhapatnam
4         Rajahmundry to Visakhapatnam
...                                ...
7208  Patna (Bihar) to Chhapra (Bihar)
7209  Patna (Bihar) to Chhapra (Bihar)
7210  Patna (Bihar) to Chhapra (Bihar)
7211  Patna (Bihar) to Chhapra (Bihar)
7212  Patna (Bihar) to Chhapra (Bihar)

[7213 rows x 10 columns]>

In [4]:
import re

#Strip whitespace from all string columns
final_df = final_df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

C:\Users\Vanathi\AppData\Local\Temp\ipykernel_7992\3089070506.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  final_df = final_df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [5]:
# 2. Convert 'Price' column to numeric (remove 'INR ' and convert to int)
final_df['Price'] = final_df['Price'].str.replace('INR ', '', regex=True).astype(float)
final_df['Price'] = final_df['Price'].round().astype(float) 

print(final_df)

                                               Bus_name  \
0                                         APSRTC - 3984
1                                         APSRTC - 3091
2                                         APSRTC - 3637
3                                         APSRTC - 4280
4                                         APSRTC - 3257
...                                                 ...
7208  Bihar state road transport corporation (BSRTC)...
7209  Bihar state road transport corporation (BSRTC)...
7210  Bihar state road transport corporation (BSRTC)...
7211  Bihar state road transport corporation (BSRTC)...
7212                                    Swastik Travels

                                    Bus_type Start_time End_time  \
0     SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)      00:30    04:35
1     SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)      00:30    05:45
2     SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)      00:45    04:30
3     SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)      00:45    04:40
4       ULTRA DELUXE (NON-AC, 2+2 PUSH BACK)      01:45    05:25
...                                      ...        ...      ...
7208                     Non AC Seater (2+2)      15:00    18:00
7209                     Non AC Seater (2+2)      15:30    18:30
7210                     Non AC Seater (2+2)      16:00    19:00
7211                     Non AC Seater (2+2)      17:10    19:08
7212                     Non AC Seater (2+2)      12:45    16:40

     Total_duration  Price     Seats_Available  Ratings  \
0           28h 05m  344.0   6 Seats available  3.4\n39
1           29h 15m  342.0  26 Seats available  3.5\n30
2           27h 45m  344.0  29 Seats available  3.9\n93
3           27h 55m  315.0  29 Seats available  3.8\n67
4           27h 40m  328.0  35 Seats available  4.6\n47
...             ...    ...                 ...      ...
7208        03h 00m  116.0  32 Seats available      NaN
7209        03h 00m  116.0  32 Seats available      NaN
7210        03h 00m  116.0  32 Seats available      NaN
7211        01h 58m  109.0  42 Seats available      NaN
7212        03h 55m  150.0  43 Seats available      NaN

                                             Route_link  \
0     https://www.redbus.in/bus-tickets/rajahmundry-...
1     https://www.redbus.in/bus-tickets/rajahmundry-...
2     https://www.redbus.in/bus-tickets/rajahmundry-...
3     https://www.redbus.in/bus-tickets/rajahmundry-...
4     https://www.redbus.in/bus-tickets/rajahmundry-...
...                                                 ...
7208  https://www.redbus.in/bus-tickets/patna-to-chapra
7209  https://www.redbus.in/bus-tickets/patna-to-chapra
7210  https://www.redbus.in/bus-tickets/patna-to-chapra
7211  https://www.redbus.in/bus-tickets/patna-to-chapra
7212  https://www.redbus.in/bus-tickets/patna-to-chapra

                            Route_name
0         Rajahmundry to Visakhapatnam
1         Rajahmundry to Visakhapatnam
2         Rajahmundry to Visakhapatnam
3         Rajahmundry to Visakhapatnam
4         Rajahmundry to Visakhapatnam
...                                ...
7208  Patna (Bihar) to Chhapra (Bihar)
7209  Patna (Bihar) to Chhapra (Bihar)
7210  Patna (Bihar) to Chhapra (Bihar)
7211  Patna (Bihar) to Chhapra (Bihar)
7212  Patna (Bihar) to Chhapra (Bihar)

[7213 rows x 10 columns]

In [6]:
#Extract numeric values from 'Seats_Available' (remove 'Seats available')
final_df['Seats_Available'] = final_df['Seats_Available'].str.extract('(\d+)').astype(float)

In [7]:
#Extract rating from 'Ratings' column (ignore review count)
final_df['Ratings'] = final_df['Ratings'].str.extract(r'(\d+\.\d+)').astype(float)

In [8]:
# 5. Convert 'Total_duration' to total minutes
def duration_to_minutes(duration):
    match = re.search(r'(\d+)h (\d+)m', duration)  # Format: '27h 40m'
    if match:
        return int(match.group(1)) * 60 + int(match.group(2))
    elif 'h' in duration:  # If only hours are present
        return int(re.search(r'(\d+)h', duration).group(1)) * 60
    elif 'm' in duration:  # If only minutes are present
        return int(re.search(r'(\d+)m', duration).group(1))
    return np.nan  # If format is incorrect

final_df['Total_duration'] = final_df['Total_duration'].apply(duration_to_minutes).astype(float)

In [9]:
# 6. Handle missing values
final_df.fillna({'Ratings': final_df['Ratings'].median()}, inplace=True)  # Fill missing ratings with median
final_df.dropna(inplace=True)  # Drop rows with remaining NaN values

# Display cleaned data
print(final_df.info())
print(final_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7213 entries, 0 to 7212
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         7213 non-null   object
 1   Bus_type         7213 non-null   object
 2   Start_time       7213 non-null   object
 3   End_time         7213 non-null   object
 4   Total_duration   7213 non-null   float64
 5   Price            7213 non-null   float64
 6   Seats_Available  7213 non-null   float64
 7   Ratings          7213 non-null   float64
 8   Route_link       7213 non-null   object
 9   Route_name       7213 non-null   object
dtypes: float64(4), object(6)
memory usage: 563.6+ KB
None
        Bus_name                                Bus_type Start_time End_time  \
0  APSRTC - 3984  SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)      00:30    04:35
1  APSRTC - 3091  SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)      00:30    05:45
2  APSRTC - 3637  SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)      00:45    04:30
3  APSRTC - 4280  SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)      00:45    04:40
4  APSRTC - 3257    ULTRA DELUXE (NON-AC, 2+2 PUSH BACK)      01:45    05:25

   Total_duration  Price  Seats_Available  Ratings  \
0          1685.0  344.0              6.0      3.4
1          1755.0  342.0             26.0      3.5
2          1665.0  344.0             29.0      3.9
3          1675.0  315.0             29.0      3.8
4          1660.0  328.0             35.0      4.6

                                          Route_link  \
0  https://www.redbus.in/bus-tickets/rajahmundry-...
1  https://www.redbus.in/bus-tickets/rajahmundry-...
2  https://www.redbus.in/bus-tickets/rajahmundry-...
3  https://www.redbus.in/bus-tickets/rajahmundry-...
4  https://www.redbus.in/bus-tickets/rajahmundry-...

                     Route_name
0  Rajahmundry to Visakhapatnam
1  Rajahmundry to Visakhapatnam
2  Rajahmundry to Visakhapatnam
3  Rajahmundry to Visakhapatnam
4  Rajahmundry to Visakhapatnam

In [10]:
final_df.head(2)

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,APSRTC - 3984,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",00:30,04:35,1685.0,344.0,6.0,3.4,https://www.redbus.in/bus-tickets/rajahmundry-...,Rajahmundry to Visakhapatnam
1,APSRTC - 3091,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",00:30,05:45,1755.0,342.0,26.0,3.5,https://www.redbus.in/bus-tickets/rajahmundry-...,Rajahmundry to Visakhapatnam

In [11]:
import mysql.connector
import pandas as pd

# MySQL Connection
host = "localhost"        
user = "root"      
password = "#Vanathi13" 
database = "bus_routes"     

# Connect to MySQL Server (Without specifying database first)
conn = mysql.connector.connect(host=host, user=user, password=password)
cursor = conn.cursor()

#Create Database if not exists
cursor.execute(f"CREATE DATABASE IF NOT EXISTS {database}")
conn.commit()

#Connect to the newly created database
conn.database = database

In [12]:
#Create Table
table_creation_query = """
CREATE TABLE IF NOT EXISTS bus_details (
    Bus_name VARCHAR(255),
    Bus_type VARCHAR(255),
    Start_time VARCHAR(10),
    End_time VARCHAR(10),
    Total_duration FLOAT,
    Price FLOAT,
    Seats_Available FLOAT,
    Ratings FLOAT,
    Route_link TEXT,
    Route_name VARCHAR(255)
);
"""
cursor.execute(table_creation_query)
conn.commit()

# Insert Data into MySQL Table
insert_query = """
INSERT INTO bus_details (Bus_name, Bus_type, Start_time, End_time, Total_duration, Price, Seats_Available, Ratings, Route_link, Route_name) 
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
"""

# Convert DataFrame to List of Tuples
data_to_insert = [tuple(row) for row in final_df.itertuples(index=False, name=None)]

#Insert in Batches for Efficiency
batch_size = 1000  # Adjust batch size if needed
for i in range(0, len(data_to_insert), batch_size):
    cursor.executemany(insert_query, data_to_insert[i:i + batch_size])
    conn.commit()

#Close Connection
cursor.close()
conn.close()

print("Data successfully inserted into MySQL under 'bus_routes' schema")

Data successfully inserted into MySQL under 'bus_routes' schema